:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
  --clr-primary: #fa4a0c;
  --clr-text-primary: #252b42;
  --clr-text-secondary: #737373;
  --clr-drop-shadow: #2e0404;
}
* {
  margin: 0;
  padding: 0;
}
